@import "./variables";

.lines {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  z-index: -2;
  .line-1,
  .line-2,
  .line-3,
  .line-4 {
    min-height: 100%;
    width: 1px;
    background-color: $color-grey-9;
  }
}
